.company-card-area {
  width: 95%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.home-container {
  background-color: white;
  min-height: 610px;
}

.home-text {
  /* width: 80%; */
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 40px;
  color: black;
  text-align: center;
  font-size: 24px;
}

.survey-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.survey-list-item:hover {
  background-color: #e9ecef;
  transition: background-color 0.2s ease;
}

.top-row {
  margin-top: 90px;
}
