.card-space:hover,
.card-space:focus {
  transform: translateY(-5px);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-space {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: solid;
  border-width: .75px;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}
