.logout-button {
    background-color: transparent;
    color: black;
    padding: 10px 20px; /* Add some padding around the text */
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .logout-button:hover {
    background-color: #3c3c3c; /* Darken the background on hover */
    color: #fff; /* Change text color to white on hover */
  }