.dropdown-toggle::after {
  content: none;
}

.dropdown-btn {
  border: none;
  color: black;
  background-color: #98ada4 !important;
}

.dropdown-btn:active {
  background-color: #243d21!important;
  color: white !important;
}

.dropdown-btn:hover {
  background-color: #243d21!important;
  color: white !important;
}

.dropdown-btn:focus {
  background-color: #243d21!important;
  color: white !important;
}
