.dropdown-btn {
  border: none !important;
  color: black !important;
  background-color: #98ada4 !important;
}

.dropdown-btn:active,
.dropdown-btn:focus,
.dropdown-btn:hover {
  background-color: #243d21 !important;
  color: white !important;
}

.dropdown-toggle::after {
  content: none !important;
}

a.dropdown-item:active {
  background-color: #243d21 !important;
  color: white !important;
}
