.collapse-container {
  display: flex;
  align-items: center;
}

.nav-bar-body {
  background-color: #657b6b;
  overflow: hidden;
}

.nav-bar-text {
  font-size: 20px;
  font-weight: bolder;
}

.nav-bar-logo {
  height: 60px;
  margin-left: 10px;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;
  text-align: center;
  max-height: 100px;
}
