.profile-container {
  text-align: center;
  display: flex;
  align-items: center;
  max-height: 100px;
}

h6 {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.user-picture {
  height: 60px;
  margin: 5px;
  border-radius: 50%
}