body {
  background-color: #e0e2dc;
  margin-bottom: 60px;
}

.btn-primary {
  background-color: #98ada4;
  color: black;
  border: none;
}

.btn-primary:hover {
  background-color: #243d21 !important;
  color: white !important;
}

.btn-primary:active {
  background-color: #243d21 !important;
  color: white !important;
}

